$base-theme: Default;
$skin-name: tb;

/**/

$white: #ffffff;
//$series-e: #ff6358;

/*background*/

$bkg-neutral: #bdbdbd;
$bkg-light-gray: #e4e4e4;
// $background: #e9ecef;
$background: #e9ecef;
$bkg-light-blue: #ecf8ff;
$blue: #0277bd;
$darkblue: #00578c;
$darkerblue: #013b5e;
$green: #3daf67;
$light-blue: #0b85ce;
$darkblue-border: #004f80;
$loader: #3498db;
$menupagecolor: #00588c;
$dark: #000;

/*bottom button*/

$bkg-toolbarbottombutton: #065aad;
$bkg-toolbarbottombuttonHover: #bdccda;

/*error*/

$error: #ff6358;

/*border*/

$border: #d0d0d0;
$border-topbarbutton: #cfe0e8;

/*text*/

$text-weight: 500;
$text-black: #000;
$text-medium: #9f9f9f;
$text-gray: #ccc;
$text-dark-gray: #999;
$text-darker-gray: #222;
$text-color-disabled: #333333;
$text-top-button-disabled: #888;

/*input*/

$input-background: #ffffde;
$input-background-disabled: #fafafa;
